Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# IDE and build system files
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.VC.db
*.VC.VC.opendb

# Compiled binaries
*.dll
*.exe
*.pdb
*.user
*.app
*.ipa
*.dSYM
*.psess

*.log
*.tmp

.DS_Store

.vscode/
.idea/

# Visual Studio cache
.vs/
*.ipch

Config/DefaultEditor.ini
Config/DefaultEngine.ini
Config/DefaultGame.ini
